.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/*
 Header css
 */
.header{
    box-sizing: border-box;
    height: 170px;
    max-height: 170px;
    padding: 50px 0;
}

.header .logo{

}

.header nav.main-menu{

}

.header nav.main-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

.header nav.main-menu li{
    float: left;

}

.header nav.main-menu a {
    display: inline-block;
    padding: 20px ;
    font-size:15px ;
    color: #8d8d8d;
}

.header nav.main-menu i{
    font-size: 12px;
    color : #8d8d8d;
}

/*
 Banner
 */

.banner {
    margin-top: -170px;
    height: 936px;
    width: 100%;
    background: url("image/banner_01.jpg") top center;
    display: table;
}

.banner h1{
    font-size: 83px;
    color: #000000;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.banner h1 span{
    color : #f66c27;
}
/* you dream it,we make it */
.main-content1{
    height: 750px;
    width: 1600px;
    background: #ffffff;
}
.main-content1 .photo{
    width: 800px;
}

.main-content1 .photo #photo1{
    display: inline-block;
    margin-top:160px;
    margin-left: 100px;
    border: 10px solid #ffffff;
    box-shadow: 30px 30px 18px #e5e5e5;
    position: absolute;
    z-index: 1;
}

.main-content1 .photo #photo2{
    display: inline-block;
    margin-top: 444px;
    margin-left: 453px;
    border: 10px solid #ffffff;
    box-shadow: 30px 30px 18px #e5e5e5;
    position: absolute;
    z-index: 2;
}

.main-content1 .document{
    height: 750px;
    width: 800px;
    background: #ffffff;
    padding-left: 30px;
}

.document h3{
    padding-top: 200px;
    font-size: 45px;
    max-width: 290px;
    color: #222222;
    padding-bottom: 50px;
}

.document h5{
    font-size: 25px;
    color: #ff7b38;
    word-spacing: 60px;
    padding-bottom: 37px;
}

.document p{
    font-size: 15px;
    color:#888888;
}
.document input[type="submit"]{
    margin-top: 85px;
    width: 183px;
    height: 56px;
    line-height: 8px;
    background: #f48146;
    color:#ffffff;
    display: inline-block;
    font-size: 18px;
    padding: 22px 43px;
    border-radius: 32px;


}


/* HOW CAN WE HELP*/


.main-content2{
    padding-bottom: 120px;
}

.main-content2 h3{
    font-size: 45px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.main-content2 .row{
    height: 400px;

}

.main-content2 .table{
    text-align: center;
    padding-left: 30px;
}

.main-content2 .table .icon{
    margin-top: 80px;
    margin-bottom: 30px;
}

.main-content2 .table h4{
    font-size: 25px;
    padding: 25px 0;
}

.main-content2 .table p {
    font-size: 15px;
    color: #929292;
    line-height: 1.8;
    margin-left: 30px;
    margin-right: 35px;

}

.main-content2 .table2{
    box-shadow: 25px 25px 10px whitesmoke;
}



/* OUR DESIGNERS AROUND THE WORLD*/
.main-content3{
    height: 923px;
    width: 1600px;

}

.main-content3 h3{
    font-size: 45px;
    padding-top: 34px;
    padding-left: 466px;
    margin-bottom: 50px;
}

.main-content3 p{
    font-size: 15px;
    text-align: center;
    color: #888888;
    padding-bottom: 23px;
}

/* NEED A HAND */


.main-content4{
    display: block;
    height: 359px;
    width: 100%;
    background: url("image/vtf-004-home-interior-website-template_12.jpg") top center;

}

.main-content4 h3{
    font-size: 30px;
    color: #ffffff;
    padding-top: 94px;
    padding-left: 490px;
    margin-bottom: 72px;
}

.main-content4 input[type="email"]{
    margin-left: 500px;
    margin-right: 18px;
    width: auto;
    display: inline-block;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left:27px ;
    padding-right: 228px;

    border-radius: 32px;
    border: 3px solid white;
    background: #f3f2f2;
}

.main-content4 input[type="submit"]{
    display: inline-block;
    background: #f48146;
    width: auto;
    color: #FFFFFF;
    padding: 20px 60px;
    text-align: center;
    border-radius: 32px;
    cursor: pointer;
    box-shadow: 10px 6px 6px #ab6643;
    border: 1px solid #f48146;
}



/*
footer css
 */

footer{
    background: linear-gradient(to right, #f66c27 50%, #ffffff 50%);
}

footer .contact-form{
    background: #f66c27;
    box-sizing: border-box;
    height: 700px;
}

.contact-form .content-form{
    background: #FFF;
    padding: 60px;
    margin-top : 138px ;
    margin-right: 100px ;
}
.content-form input,textarea{
    border: none;
    border-bottom: 1px solid #c8c8c8;
    width: 100%;
    font-size: 15px;
    color: #777777;
}

.first-row input{
    width: 40%;
}

.first-row:after{
    content: '';
    clear: both;
}

.first-row input[name="email"]{
    float: right;
}

.content-form input[type="text"]{
    padding-bottom: 5px;
}
.content-form input:focus,textarea:focus{
    outline: none;
}

.contact-form-row{
    margin-bottom: 20px;
}

.submit-row{
    text-align: center;
}

.content-form input[type="submit"]{
    background: #f48146;
    color: #ffffff;
    font-size: 18px;
    display: inline-block;
    padding: 6px 20px;
    border-radius: 32px;
    width: auto;

}



footer .contact-info{
    background: #ffffff;
    height: 700px;
    box-sizing: border-box;
    padding-left: 100px;
}

footer h3{
    padding-top: 113px;
    font-size: 45px;
}

.line-contact-info{
    padding: 20px 0;
    color: #333333;
}

.line-contact-info h4{
    font-size: 25px;
}

.line-contact-info p{
    font-size: 15px;
    color: #333333;
    max-width: 240px ;
}
.line-contact-info p span{
    color: #f48146;
}

footer .social-icon i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: #bbbbbb;
    text-align: center;
    color: #FFF;
    margin-right: 20px;
}

.footer .social-icon i:hover{
    background: #f48146;
}







